@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#login-banner {
  display: flex;
  position: relative;
  background-color: #FFC75F;
  color: white;
  text-align: left;
  align-items: center;
  padding: 20px;
  padding-bottom: 120px;
  z-index: 1;
  cursor: default;
}

#login-banner h1 {
  font-family: 'Love Ya Like A Sister';
}

#login-banner h2 {
  font-family: 'Courier New';
}

.img.logo {
  position: absolute;
  padding: 30px;
  z-index: 3;
}

.img.splash {
  z-index: 2;
  padding: 10px;
}

.form {
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  width: 600px;
  height: 120px;
  z-index: 3;
  border-bottom: 10px #845EC2 solid;
  margin: auto;
}

.form.login {
  position: relative;
  top: -50px;
}


.input {
  display: flex;
  position: relative;
  align-items: center;
  border: 3px solid #969696;
  border-radius: 25px;
  width: 500px;
  padding: 5px;
  margin: auto;
}

#login-error {
  position: absolute;
  bottom: 5px;
  left: 15%;
  color: red;
}

.input button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.input button:hover {
  transform: scale(1.1, 1.1);
}

.input input {
  padding-left: 10px;
  border: none;
  background: none;
  outline: none;
  font-size: 24px;
  width: 500px;
  font-family:'Courier New', Courier, monospace;
}

::placeholder {
  color: #969696;
}

.input label {
  position: relative;
  padding-left: 5px;
  padding-bottom: 7px;
  font-size: 24px;
}

#navbar {
  background-color: #FFC75F;
  border-bottom: 2px solid #E7B355;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

#navbar-user {
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  right: 0px;
}

#navbar-user:hover{
  transform: scale(1.1, 1.1);
}

#navbar-user span {
  font-size: 18px;
  background-color: #E7B355;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 10px;
  font-family: 'Courier New';
}

#navbar-user img {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #E7B355;
  padding: 0px;
  border-radius: 50%;
  right: 10px;
}

#navbar h3 {
  font-family: 'Love Ya Like A Sister';
  cursor: default;
}

.form.translation {
  top: 20%;
}

.form.signs {
  top: 50px;
  height: auto;
}

.translation.list {
  padding: 5px;
}

.translation.banner {
  height: 190px;
  background-color: #FFC75F;
}

.input.translation {
  background-color: white;
  top: 80px;
  width: 600px;
}

.input.translation button {
  padding-left: 20px;
}

.form.profile {
  height: fit-content;
  display: grid;
  text-align: left;
  padding-left: 30px;
  color:#969696;
  font-family: 'Courier New';
  cursor: default;
}

#profile-header{
  color:#7a7a7a;
  font-family: 'Courier New';
  cursor: default;
}

#profile-actions{
  display: grid;
}

#profile-actions button {
  position: absolute;
  background-color: #845EC2;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  top: 90px;
  font-size: 18px;
  font-family: 'Courier New';
}

#profile-actions button:hover {
  transform: scale(1.1, 1.1);
}

#btn-login {
  right: 10px;

}

#btn-clear-history {
  left: 10px;
}